{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 140,
  "plugins": ["prettier-plugin-svelte"],
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
